/* .row {
  border-color: #d4ff00;
  border-style: solid;
} */

/* FUENTES*/
@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppinsBlack";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppinsBlackItalic";
  src: url(../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family: "poppinsThin";
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

/* Variables */
html {
  --color-primario: #d8ff00;
  --color-secundario: #99cc00;
  --color-complementario: #6600cc;
  --color-analogico-1: #f3ff66;
  --color-analogico-2: #ffcc00;
  --color-analogico-3: #ff9900;
  --color-blanco: #fff;
  --color-negro-fuerte: #000;
  --color-negro-medio: #131313;
  --color-medio-suave: #171717;
  --color-gris-fuerte: #333;
  --color-gris-medio: #777;
  --color-gris-suave: #ccc;
}

/*  Estilos por etiqueta */
body {
  font-family: "poppins", sans-serif;
  color: var(--color-blanco);
  background-color: var(--color-negro-medio);
  animation: fade-in 2s;
  overflow: hidden;
  overflow-x: hidden;
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "poppinsBlackItalic", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 15px var(--color-gris-medio);
  color: var(--color-primario);
  animation: fade-in 2s;
}

p {
  margin: 0 2% 10px;
  animation: fade-in 2s;
}

a {
  color: var(--color-blanco);
  text-decoration: none;
  cursor: url(../assets/icons/guante.svg), auto;
  font-family: "poppinsThin" sans-serif;
  transition: all 1s ease;
}

a:hover {
  color: var(--color-primario);
  font-family: "poppinsBlackItalic", sans-serif;
  text-transform: uppercase;
}

a:active {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, var(--color-analogico-1), var(--color-primario));
  font-family: "poppinsBlackItalic", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

strong {
  color: var(--color-analogico-1);
  text-shadow: 0 0 3px var(--color-primario);
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
}

nav ul li {
  list-style-type: none;
  background-image: radial-gradient(var(--color-analogico-1), var(--color-analogico-3));
  background-position: 0 100%;
  background-size: 0 1px;
  animation: agrandamiento 2s ease;
  transition: background-size 0.3s;
  background-repeat: no-repeat;
  padding: 0 15px;
}

nav ul li:hover {
  background-size: 100% 1px;
  transition: all 0.3s ease-in-out;
}

main {
  max-height: 60vh;
  overflow: auto;
  margin: 20px 0 0;
}

main li {
  list-style-type: "游볡 ";
  padding: 2px;
  margin: 0 22px;
}

aside img {
  width: 100%;
  animation: fade-in 2s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0;
  box-shadow: 0 -10px 10px -10px var(--color-gris-medio);
}

/* Estilos por clases */
.text-italic {
  font-style: oblique;
}

.text-left {
  text-align: left;
}

.height {
  height: 100vh;
}

.shadow-up {
  box-shadow: 5px 10px 10px -10px var(--color-gris-medio);
}

.text-center {
  text-align: center;
}

.resaltado {
  text-decoration: none;
  animation: sombraPulso 2s infinite ease;
}

.vi침eta {
  width: 35%;
  padding: 15px 0 0;
  transition: all 1s ease;
}

.vi침eta:hover {
  transform: scale(1.03);
  animation: vi침etaDancing 0.5s infinite ease-in-out;
}

.redes {
  padding: 0 0;
}

.redes li {
  display: inline-block;
}

.redes i {
  transition: transform 0.5s ease;
  animation: doblez 2s ease;
}

.redes-hover:hover {
  transform: scale(1.5);
}

.redes li a {
  position: relative;
  display: block;
  width: 53px;
  height: 53px;
  text-align: center;
  line-height: 56px;
  border-radius: 50%;
  font-size: 190%;
  color: var(--color-gris-suave);
  transition: 0.5s;
}

.redes li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-blanco);
  transition: 0.5s;
  z-index: -1;
}

.redes li a:hover::before {
  box-shadow: 0 0 15px var(--color-blanco);
}

.redes li a:hover {
  color: var(--color-primario);
  box-shadow: 0 0 5px var(--color-primario);
  text-shadow: 0 0 5px var(--color-gris-suave);
  transform: rotate(360deg) scale(1.1);
}

.logoTexto {
  display: flex;
  font-family: poppinsBlackItalic;
  text-transform: uppercase;
  color: var(--color-primario);
  font-size: 3vw;
  animation: sombraPulso 1.5s infinite;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logoTexto:hover {
  transform: scale(1.05);
}

.logoTexto:active {
  color: var(--color-primario);
  font-size: 3.5vw;
}

.logoTexto-x {
  font-family: poppins;
  text-transform: lowercase;
  color: var(--color-blanco);
  text-shadow: 0 0 5px var(--color-blanco);
  margin: 0 5px;
  transition: all 0.5s ease;
}

.logoTexto-x:hover {
  transform: rotate(90deg) scale(1.2);
}

.article-index {
  display: flex;
  align-items: flex-start;
  animation: fade-in 2s ease-in-out;
  flex-wrap: nowrap;
}

.fondo1 {
  background-image: radial-gradient(ellipse at center, var(--color-negro-fuerte), #000000b3), url('../assets/images/galeria.webp');
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 5px var(--color-gris-suave), 0 0 5px var(--color-gris-suave);
}

.fondo2 {
  background-image: radial-gradient(ellipse at center, var(--color-negro-fuerte), #000000b3), url('../assets/images/L칤nea3.svg');
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 5px var(--color-gris-suave), 0 0 5px var(--color-gris-suave);
}

.mapa {
  border: 0;
  width: 100%;
  height: 300px;
  margin: 20px 0;
  animation: doblez 2s ease-in-out;
}

.contamosCon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 var(--color-gris-medio);
  border-radius: 10px 50px;
  padding: 10px;
  margin: 1vw 20vw;
  animation: doblez 2s ease;
  transition: all 0.3s ease;
}

.contamosCon:hover {
  transform: scale(1.1) rotate(1deg);
}

.apartaTuClase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.aside {
  max-height: 60vh;
  overflow: auto;
  margin: 20px 0 0;
}

.asideArticulo {
  padding: 2% 4%;
  margin: 2% 0 10%;
  background-color: var(--color-negro-medio);
  box-shadow: 0 5px 10px 5px var(--color-gris-fuerte);
  border-radius: 15px;
  text-align: left;
}

.asideArticulo h2 {
  padding: 0 0 5%;
}

.button {
  border-radius: 5px;
  box-shadow: 0 0 3px var(--color-primario);
  border: 0 var(--color-primario);
  transition: all 1s ease;
  text-transform: uppercase;
  font-family: "poppinsSemiBold";
  background-color: var(--color-gris-suave);
}

.button:hover {
  background-color: var(--color-primario);
  font-family: "poppinsBlackItalic";
  box-shadow: 0 0 15px var(--color-blanco);
}

.caja {
  background-color: #0b0b0b;
  box-shadow: 0 0 10px 5px var(--color-gris-medio);
  border-radius: 15px 30px;
  padding: 1%;
  margin: 5% 25% 3%;
  transform: rotate(1deg);
  transition: all 0.3s ease;
}

.caja:hover {
  transform: scale(1.1) rotate(-1deg);
}

.whatsapp-button {
  display: none;
  position: fixed;
  bottom: 95px;
  right: 10px;
  background-color: var(--color-negro-fuerte);
  border: none;
  border-radius: 10px 30px;
  box-shadow: 0 0 5px 5px var(--color-analogico-1);
  color: var(--color-primario);
  font-style: oblique;
  width: 140px;
  height: 40px;
  padding: 3px;
  animation: whatsapp 2s infinite ease-in-out;
}

.whatsapp-button span {
  font-family: poppinsSemiBold;
  font-size: x-small;
}

.whatsapp-button:hover {
  width: 200px;
  height: 50px;
}

/* Estilos del formulario */
.formCaja {
  width: 600px;
  padding: 40px;
  background: #00000080;
  box-sizing: border-box;
  box-shadow: 0 15px 25px var(--color-gris-fuerte);
  border-radius: 10px;
}

.formCaja h2 {
  margin: 0 0 30px;
  padding: 0;
  color: var(--color-primario);
  text-align: center;
}

.formCaja .formLabel {
  position: relative;
}

.formCaja .formLabel input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid var(--color-blanco);
  outline: none;
  background: transparent;
  color: var(--color-primario);
  font-family: "poppinsBlackItalic";
  text-transform: uppercase;
  text-shadow: 0 0 8px var(--color-secundario);
}

.formCaja .formLabel label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: var(--color-analogico-1);
  pointer-events: none;
  transition: .5s;
}

.formCaja .formLabel input:focus ~ label,
.formCaja .formLabel input:valid ~ label {
  top: -20px;
  left: 0;
  color: var(--color-blanco);
  font-style: oblique;
  font-size: 12px;
}

.formCaja form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--color-primario);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.formCaja a:hover {
  background: var(--color-primario);
  color: var(--color-negro-fuerte);
  border-radius: 5px;
  box-shadow: 0 0 5px var(--color-primario),
    0 0 25px var(--color-primario),
    0 0 50px var(--color-primario),
    0 0 100px var(--color-primario);
}

.formCaja a span {
  position: absolute;
  display: block;
}

.formCaja a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--color-primario));
  animation: btn-anim1 1s linear infinite;
}

.formCaja a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--color-primario));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

.formCaja a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, var(--color-primario));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

.formCaja a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--color-primario));
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

/* Estilos del Carrusel */
/* Contenedor para centrar */
.containerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.containerCenter input {
  display: none;
}

.cursor {
  cursor: url(../assets/icons/guante.svg), auto;
}

.carruseles {
  height: 55vh;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.carrusel {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position-y: 70%;
  overflow-y: hidden;
  transition: all 1.5s ease-in-out;
}

/* Configuraci칩n de elementos individuales */
.carruseles .carrusel:nth-child(1) {
  background-image: url(../assets/images/galeria4.jpeg);
}

.carruseles .carrusel:nth-child(2) {
  background-image: url(../assets/images/galeria6.jpeg);
}

.carruseles .carrusel:nth-child(3) {
  background-image: url(../assets/images/galeria1.jpeg);
}


/* Estado 1 */
#slider1:checked ~ .carruseles .carrusel:nth-of-type(1) {
  transform: translate(0%, 0);
}

#slider1:checked ~ .carruseles .carrusel:nth-of-type(2) {
  transform: translate(100%, 0);
}

#slider1:checked ~ .carruseles .carrusel:nth-of-type(3) {
  transform: translate(200%, 0);
}

/* Estado 2 */
#slider2:checked ~ .carruseles .carrusel:nth-of-type(1) {
  transform: translate(-100%, 0);
}

#slider2:checked ~ .carruseles .carrusel:nth-of-type(2) {
  transform: translate(0%, 0);
}

#slider2:checked ~ .carruseles .carrusel:nth-of-type(3) {
  transform: translate(100%, 0);
}


/* Estado 3 */
#slider3:checked ~ .carruseles .carrusel:nth-of-type(1) {
  transform: translate(-200%, 0);
}

#slider3:checked ~ .carruseles .carrusel:nth-of-type(2) {
  transform: translate(-100%, 0);
}

#slider3:checked ~ .carruseles .carrusel:nth-of-type(3) {
  transform: translate(0%, 0);
}

/* Flechas */
.carruseles .arrowLeft,
.carruseles .arrowRight {
  position: absolute;
  height: 100%;
  width: 2em;
  align-items: center;
  justify-content: center;
  display: none;
  user-select: none;
}

.carruseles .arrowLeft {
  left: 10px;
}

.carruseles .arrowRight {
  right: 10px;
}

/* Configuracion de flechas individuales */
#slider1:checked ~ .carruseles .Arrow1 {
  display: flex;
}

#slider2:checked ~ .carruseles .Arrow2 {
  display: flex;
}

#slider3:checked ~ .carruseles .Arrow3 {
  display: flex;
}

/* Selectores */
.selectores {
  width: 100px;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
}

.selectores .Selector {
  background-color: var(--color-primario);
  height: 10px;
  width: 10px;
  display: block;
  border-radius: 5px;
}

/* Condicionales para bot칩n inferior */
#slider1:checked ~ .selectores .Selector:nth-of-type(1) {
  background-color: var(--color-gris-medio);
}

#slider2:checked ~ .selectores .Selector:nth-of-type(2) {
  background-color: var(--color-gris-medio);
}

#slider3:checked ~ .selectores .Selector:nth-of-type(3) {
  background-color: var(--color-gris-medio);
}

/* Estilos por IDs */
#buscar {
  width: 50%;
  border-radius: 6px;
  box-shadow: 0 0 3px var(--color-gris-suave);
  transition: all 1s ease;
  font-family: "poppinsBlackItalic";
  text-transform: uppercase;
  text-shadow: 0 0 8px var(--color-primario);
  color: var(--color-primario);
  background-color: var(--color-negro-fuerte);
}

#buscar:hover {
  box-shadow: 0 0 15px var(--color-blanco);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primario);
}

/* Estilos por Pages */
.quienesSomos-img1 {
  width: 50%;
  border-radius: 50px 100px;
  box-shadow: 0 0 15px var(--color-primario), 0 0 20px var(--color-blanco);
  transform: rotate(1deg);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.quienesSomos-img1:hover {
  transform: scale(0.95) rotate(-1deg);
}

.quienesSomos-img2 {
  width: 50%;
  border-radius: 100px 50px;
  box-shadow: 0 0 15px var(--color-primario), 0 0 20px var(--color-blanco);
  transform: rotate(-1deg);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.quienesSomos-img2:hover {
  transform: scale(0.95) rotate(1deg);
}

.politicaPrivacidad {
  display: block;
  padding: 1%;
  margin: 2vw 10vw 3vw;
  box-shadow: 0 0 10px 5px var(--color-gris-fuerte);
  border-radius: 30px;
}

.politicaPrivacidad ul {
  padding-left: 5vw;
}

/* ANIMACIONES */
@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes whatsapp {
  0% {
    transform: scale(0.95) rotate(3.5deg);
  }

  50% {
    transform: scale(1) rotate(3.5deg);
  }

  100% {
    transform: scale(0.95) rotate(3.5deg);
  }
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

@keyframes sombraPulso {
  0% {
    text-shadow: 0 0 1px var(--color-negro-fuerte), 0 0 10px var(--color-primario);
  }

  50% {
    text-shadow: 0 0 2px var(--color-negro-fuerte), 0 0 20px var(--color-primario);
  }

  100% {
    text-shadow: 0 0 2px var(--color-negro-fuerte), 0 0 10px var(--color-primario);
  }
}

@keyframes lineaPulso {
  0% {
    background-size: 0 0;
  }

  50% {
    background-size: 20% 2px;
  }

  100% {
    background-size: 0 0;
  }
}

@keyframes vi침etaDancing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes doblez {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes agrandamiento {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/* RESPONSIVE */
@media (max-width: 270px) {
  nav {
    display: none;
  }
}

@media (max-width: 325px) {
  .redes li a {
    width: 40px;
    height: 40px;
    line-height: 43px;
    font-size: 150%;
  }

  .buscar {
    display: none;
  }
}

@media (max-width: 425px) {
  .logoTexto {
    font-size: 10vw;
  }

  .nav-responsive {
    margin: 0 10vw;
  }

  main article {
    flex-wrap: wrap;
  }

  footer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .logoTexto {
    font-size: 8vw;
  }

  .redes li a {
    width: 53px;
    height: 53px;
    line-height: 56px;
    border-radius: 50%;
    font-size: 190%;
  }

  .nav-responsive {
    margin: 0 25vw;
  }

  .columna-nav {
    padding: 15px;
  }

  body {
    overflow: auto;
  }

  main {
    max-height: min-content;
  }

  .aside {
    max-height: min-content;
  }

  .whatsapp-button {
    display: initial;
  }

  .nav-responsive {
    box-shadow: 0 0 15px var(--color-gris-fuerte);
    border-radius: 15px 30px;
    padding: 0;
    margin: 0 20vw;
  }

  .columna-nav {
    background-color: var(--color-negro-medio);
    color: var(--color-blanco);
    padding: 0 15px 15px;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    padding: 5px 15px;
    background-position: 50% 25px;
    animation: lineaPulso 5s infinite;
  }

  a {
    font-family: "poppinsSemiBold";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 3px var(--color-primario);
  }

  @media (max-width: 861px) {
    body {
      overflow: auto;
    }

    .footer-a {
      font-family: "poppins";
      text-transform: unset;
      letter-spacing: 0;
      text-shadow: 0 0 0;
    }

    li a {
      text-shadow: 0 0 10px var(--color-primario);
    }

    .logoTexto {
      letter-spacing: 0;
    }

    .redes li a {
      width: 40px;
      height: 40px;
      line-height: 43px;
      font-size: 150%;
      text-shadow: 0 0 3px var(--color-primario);
    }

    .nav-responsive {
      flex-wrap: nowrap;
      align-items: center;
    }

    .columna-nav {
      background-color: var(--color-negro-medio);
      color: var(--color-blanco);
      padding: 0 15px 15px;
    }

    nav ul li {
      padding: 5px 15px;
      background-position: 50% 25px;
    }
  }

  @media (max-width: 1200) {
    .quienesSomos-img1 {
      display: none;
    }
  }

  @media (min-width: 1900px) {
    .nav-responsive {
      font-size: 1.5rem;
    }
  }
}