/* .row {
  border-color: #d4ff00;
  border-style: solid;
} */

/* FUENTES*/
@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppinsBlack";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppinsBlackItalic";
  src: url(../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family: "poppinsThin";
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

/* Variables */
html {
  --color-primario: #d8ff00;
  --color-secundario: #99cc00;
  --color-complementario: #6600cc;
  --color-analogico-1: #f3ff66;
  --color-analogico-2: #ffcc00;
  --color-analogico-3: #ff9900;
  --color-blanco: #fff;
  --color-negro-fuerte: #000;
  --color-negro-medio: #131313;
  --color-medio-suave: #171717;
  --color-gris-fuerte: #333;
  --color-gris-medio: #777;
  --color-gris-suave: #ccc;
}

/*  Estilos por etiqueta */
body {
  font-family: "poppins", sans-serif;
  color: var(--color-blanco);
  background-color: var(--color-negro-medio);
  animation: fade-in 2s;
  overflow: hidden;
  overflow-x: hidden;
  text-decoration: none;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "poppinsBlackItalic", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  text-shadow: 0 0 15px var(--color-gris-medio);
  color: var(--color-primario);
  animation: fade-in 2s;
}

p {
  margin: 0 2% 10px;
  animation: fade-in 2s;
}

a {
  color: var(--color-blanco);
  text-decoration: none;
  cursor: url(../assets/icons/guante.svg), auto;
  font-family: "poppinsThin" sans-serif;
  transition: all 1s ease;
}

a:hover {
  color: var(--color-primario);
  font-family: "poppinsBlackItalic", sans-serif;
  text-transform: uppercase;
}

a:active {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(45deg, var(--color-analogico-1), var(--color-primario));
  font-family: "poppinsBlackItalic", sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

strong {
  color: var(--color-analogico-1);
  text-shadow: 0 0 3px var(--color-primario);
  letter-spacing: 1px;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 0 10px;
}

nav ul li {
  list-style-type: none;
  background-image: radial-gradient(var(--color-analogico-1), var(--color-analogico-3));
  background-position: 0 100%;
  background-size: 0 1px;
  animation: agrandamiento 2s ease;
  transition: background-size 0.3s;
  background-repeat: no-repeat;
  padding: 0 15px;
}

nav ul li:hover {
  background-size: 100% 1px;
  transition: all 0.3s ease-in-out;
}

main {
  max-height: 60vh;
  overflow: auto;
  margin: 20px 0 0;
}

main li {
  list-style-type: "🥊 ";
  padding: 2px;
  margin: 0 22px;
}

aside img {
  width: 100%;
  animation: fade-in 2s ease-in-out;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0;
  box-shadow: 0 -10px 10px -10px #ffffff50;
}

/* Estilos por clases */
.text-italic {
  font-style: oblique;
}

.text-left {
  text-align: left;
}

.height {
  height: 100vh;
}

.shadow-up {
  box-shadow: 5px 10px 10px -10px #ffffff50;
}

.text-center {
  text-align: center;
}

.resaltado {
  text-decoration: none;
  animation: sombraPulso 2s infinite ease;
}

.viñeta {
  width: 35%;
  padding: 15px 0 0;
  transition: all 1s ease;
}

.viñeta:hover {
  transform: scale(1.03);
  animation: viñetaDancing 0.5s infinite ease-in-out;
}

.redes {
  padding: 0 0;
}

.redes li {
  display: inline-block;
}

.redes i {
  transition: transform 0.5s ease;
  animation: doblez 2s ease;
}

.redes-hover:hover {
  transform: scale(1.5);
}

.redes li a {
  position: relative;
  display: block;
  width: 53px;
  height: 53px;
  text-align: center;
  line-height: 56px;
  border-radius: 50%;
  font-size: 190%;
  color: #c9c9c9;
  transition: 0.5s;
}

.redes li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: 0.5s;
  z-index: -1;
}

.redes li a:hover::before {
  box-shadow: 0 0 15px #ffffff;
}

.redes li a:hover {
  color: #d8ff00;
  box-shadow: 0 0 5px #d8ff00;
  text-shadow: 0 0 5px #adadad;
  transform: rotate(360deg) scale(1.1);
}

.logoTexto {
  display: flex;
  font-family: poppinsBlackItalic;
  text-transform: uppercase;
  color: var(--color-primario);
  font-size: 3vw;
  animation: sombraPulso 1.5s infinite;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logoTexto:hover {
  transform: scale(1.05);
}

.logoTexto:active {
  color: var(--color-primario);
  font-size: 3.5vw;
}

.logoTexto-x {
  font-family: poppins;
  text-transform: lowercase;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
  margin: 0 5px;
  transition: all 0.5s ease;
}

.logoTexto-x:hover {
  transform: rotate(90deg) scale(1.2);
}

.article-index {
  display: flex;
  align-items: flex-start;
  animation: fade-in 2s ease-in-out;
  flex-wrap: nowrap;
}

.fondo1 {
  background-image: radial-gradient(ellipse at center, #000000, #000000b3), url('../assets/images/galeria.webp');
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 5px #ffffffc8, 0 0 5px #ffffffc8;
}

.fondo2 {
  background-image: radial-gradient(ellipse at center, #000000, #000000b3), url('../assets/images/Línea3.svg');
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 5px #ffffffc8, 0 0 5px #ffffffc8;
}

.mapa {
  border: 0;
  width: 100%;
  height: 300px;
  margin: 20px 0;
  animation: doblez 2s ease-in-out;
}

.contamosCon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px 0 #717171;
  border-radius: 10px 50px;
  padding: 10px;
  margin: 1vw 20vw;
  animation: doblez 2s ease;
  transition: all 0.3s ease;
}

.contamosCon:hover {
  transform: scale(1.1) rotate(1deg);
}

.apartaTuClase {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.aside {
  max-height: 60vh;
  overflow: auto;
  margin: 20px 0 0;
}

.asideArticulo {
  padding: 2% 4%;
  margin: 2% 0 10%;
  background-color: #0a0a0a;
  box-shadow: 0 5px 10px 5px #2a2a2a;
  border-radius: 15px;
  text-align: left;
}

.asideArticulo h2 {
  padding: 0 0 5%;
}

.button {
  border-radius: 5px;
  box-shadow: 0 0 3px #d8ff00;
  border: 0 #d8ff00;
  transition: all 1s ease;
  text-transform: uppercase;
  font-family: "poppinsSemiBold";
  background-color: #aaaaaa;
}

.button:hover {
  background-color: #d8ff00;
  font-family: "poppinsBlackItalic";
  box-shadow: 0 0 15px #fff;
}

.caja {
  background-color: #0e0e0e;
  box-shadow: 0 0 10px 5px #ffffff25;
  border-radius: 15px 30px;
  padding: 1%;
  margin: 5% 25% 3%;
  transform: rotate(1deg);
  transition: all 0.3s ease;
}

.caja:hover {
  transform: scale(1.1) rotate(-1deg);
}

.whatsapp-button {
  display: none;
  position: fixed;
  bottom: 95px;
  right: 10px;
  background-color: #000000;
  border: none;
  border-radius: 10px 30px;
  box-shadow: 0 0 5px 5px #ffffff4d;
  color: #d8ff00;
  font-style: oblique;
  width: 140px;
  height: 40px;
  padding: 3px;
  animation: whatsapp 2s infinite ease-in-out;
}

.whatsapp-button span {
  font-family: poppinsSemiBold;
  font-size: x-small;
}

.whatsapp-button:hover {
  width: 200px;
  height: 50px;
}

/* Estilos por IDs */
#buscar {
  width: 50%;
  border-radius: 6px;
  box-shadow: 0 0 3px #adadad;
  transition: all 1s ease;
  font-family: "poppinsBlackItalic";
  text-transform: uppercase;
  text-shadow: 0 0 8px #d4ff00;
  color: #d9ff00;
  background-color: #000;
}

#buscar:hover {
  box-shadow: 0 0 15px #fff;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a1a1;
}

/* Estilos por Pages */
.quienesSomos-img1 {
  width: 50%;
  border-radius: 50px 100px;
  box-shadow: 0 0 15px #d8ff00, 0 0 20px #fff;
  transform: rotate(1deg);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.quienesSomos-img1:hover {
  transform: scale(0.95) rotate(-1deg);
}

.quienesSomos-img2 {
  width: 50%;
  border-radius: 100px 50px;
  box-shadow: 0 0 15px #d8ff00, 0 0 20px #fff;
  transform: rotate(-1deg);
  transition: all 0.3s ease;
  margin-top: 10px;
}

.quienesSomos-img2:hover {
  transform: scale(0.95) rotate(1deg);
}

.politicaPrivacidad {
  display: block;
  padding: 1%;
  margin: 2vw 10vw 3vw;
  box-shadow: 0 0 10px 5px #ffffff25;
  border-radius: 30px;
}

.politicaPrivacidad ul {
  padding-left: 5vw;
}

/* ANIMACIONES */
@keyframes whatsapp {
  0% {
    transform: scale(0.95) rotate(3.5deg);
  }

  50% {
    transform: scale(1) rotate(3.5deg);
  }

  100% {
    transform: scale(0.95) rotate(3.5deg);
  }
}

@keyframes sombraPulso {
  0% {
    text-shadow: 0 0 1px #000000, 0 0 10px #d8ff00;
  }

  50% {
    text-shadow: 0 0 2px #000000, 0 0 20px #d8ff00;
  }

  100% {
    text-shadow: 0 0 2px #000000, 0 0 10px #d8ff00;
  }
}

@keyframes lineaPulso {
  0% {
    background-size: 0 0;
  }

  50% {
    background-size: 20% 2px;
  }

  100% {
    background-size: 0 0;
  }
}

@keyframes viñetaDancing {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes doblez {
  0% {
    transform: rotateX(90deg);
  }

  100% {
    transform: rotateX(0deg);
  }
}

@keyframes agrandamiento {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* RESPONSIVE */
@media (max-width: 270px) {
  nav {
    display: none;
  }
}

@media (max-width: 325px) {
  .redes li a {
    width: 40px;
    height: 40px;
    line-height: 43px;
    font-size: 150%;
  }

  .buscar {
    display: none;
  }
}

@media (max-width: 425px) {
  .logoTexto {
    font-size: 10vw;
  }

  .nav-responsive {
    margin: 0 10vw;
  }

  main article {
    flex-wrap: wrap;
  }

  footer {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .logoTexto {
    font-size: 8vw;
  }

  .redes li a {
    width: 53px;
    height: 53px;
    line-height: 56px;
    border-radius: 50%;
    font-size: 190%;
  }

  .nav-responsive {
    margin: 0 25vw;
  }

  .columna-nav {
    padding: 15px;
  }

  body {
    overflow: auto;
  }

  main {
    max-height: min-content;
  }

  .aside {
    max-height: min-content;
  }

  .whatsapp-button {
    display: initial;
  }

  .nav-responsive {
    box-shadow: 0 0 15px #ffffff18;
    border-radius: 15px 30px;
    padding: 0;
    margin: 0 20vw;
  }

  .columna-nav {
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 0 15px 15px;
  }

  nav ul {
    display: block;
  }

  nav ul li {
    padding: 5px 15px;
    background-position: 50% 25px;
    animation: lineaPulso 5s infinite;
  }

  a {
    font-family: "poppinsSemiBold";
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 0 0 3px #d8ff00;
  }

  @media (max-width: 861px) {
    body {
      overflow: auto;
    }

    .footer-a {
      font-family: "poppins";
      text-transform: unset;
      letter-spacing: 0;
      text-shadow: 0 0 0;
    }

    li a {
      text-shadow: 0 0 10px #d8ff00;
    }

    .logoTexto {
      letter-spacing: 0;
    }

    .redes li a {
      width: 40px;
      height: 40px;
      line-height: 43px;
      font-size: 150%;
      text-shadow: 0 0 3px #d8ff00;
    }

    .nav-responsive {
      flex-wrap: nowrap;
      align-items: center;
    }

    .columna-nav {
      background-color: rgb(18, 18, 18);
      color: white;
      padding: 0 15px 15px;
    }

    nav ul li {
      padding: 5px 15px;
      background-position: 50% 25px;
    }
  }

  @media (max-width: 1200px) {
    .quienesSomos-img1 {
      display: none;
    }
  }

  @media (min-width: 1900px) {
    .nav-responsive {
      font-size: 1.5rem;
    }
  }
}