* {
  text-decoration: none;
  margin: 0;
}

/* Se importa la biblioteca de íconos de Bootstrap */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

/* Se colocan las fuentes, todas son variaciones de poppins */
@font-face {
  font-family: "poppins";
  src: url(../assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: "poppinsBlack";
  src: url(../assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
  font-family: "poppinsSemiBold";
  src: url(../assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
  font-family: "poppinsBlackItalic";
  src: url(../assets/fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family: "poppinsThin";
  src: url(../assets/fonts/Poppins/Poppins-Thin.ttf);
}

/* .row {
  border: 1px solid rgb(219, 93, 187);
} */

.columna {
  background-color: rgb(18, 18, 18);
  color: white;
  /*   border: 1px solid aqua;
 */
}

.text-center {
  text-align: center;
}

.viñeta {
  width: 200px;
  padding: 10px 0 5px;
  transition: all 1s ease;
}

.viñeta:hover {
  transform: scale(1.03);
}

body {
  font-family: "Shadows Into Light", handwriting;
}

body {
  font-family: poppins;
  color: white;
}

a {
  color: white;
  text-decoration: none;
  cursor: url(../assets/icons/guante.svg), auto;
  font-family: poppinsThin;
  transition: all 1s ease;
}

a:hover {
  color: #d8ff00;
  font-family: "poppinsBlackItalic";
  text-transform: uppercase;
}

a:active {
  color: #d8ff00;
  font-family: "poppinsBlackItalic";
  text-transform: uppercase;
}

.redes {
  padding: 0 0;
}
.redes li {
  display: inline-block;
}

.redes i {
  transition: transform 0.5s ease;
}

.redes-hover:hover {
  transform: scale(1.5);
}

.redes li a {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  border-radius: 50%;
  font-size: 30px;
  color: #c9c9c9;
  transition: 0.5s;
}

.redes li a::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: 0.5s;
  z-index: -1;
}

.redes li a:hover::before {
  box-shadow: 0 0 15px #ffffff;
}

.redes li a:hover {
  color: #d8ff00;
  box-shadow: 0 0 5px #d8ff00;
  text-shadow: 0 0 5px #adadad;
  transform: rotate(360deg) scale(1.1);
}

.logoTexto {
  display: flex;
  font-family: poppinsBlackItalic;
  text-transform: uppercase;
  color: #d8ff00;
  font-size: 3.5rem;
  animation: sombraPulso 1.5s infinite;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
@keyframes sombraPulso {
  0% {
    text-shadow: 0 0 1px #000000, 0 0 10px #d8ff00;
  }
  50% {
    text-shadow: 0 0 2px #000000, 0 0 20px #d8ff00;
  }

  100% {
    text-shadow: 0 0 2px #000000, 0 0 10px #d8ff00;
  }
}

.logoTexto:hover {
  transform: scale(1.03);
}

.logoTexto-x {
  font-family: poppins;
  text-transform: lowercase;
  color: #ffffff;
  text-shadow: 0 0 5px #ffffff;
  margin: 0 5px;
  transition: all 0.5s ease;
}

.logoTexto-x:hover {
  transform: rotate(180deg) scale(1.2);
}

nav ul {
  padding: 0 10px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex-direction: row;
}

nav ul li {
  padding: 0 15px;
  list-style-type: none;
  background-image: radial-gradient(#d8ff00, #ffffff);
  background-position: 0 100%;
  background-size: 0 1px;
  transition: background-size 0.3s;
  background-repeat: no-repeat;
}

nav ul li:hover {
  background-size: 100% 1px;

  transition: all 0.3s ease-in-out;
}

@media (max-width: 861px) {
  nav ul {
    display: block;
  }
  nav ul li {
    padding: 5px 15px;
    background-position: 50% 25px;
    animation: lineaPulso 5s infinite;
  }

  a {
    color: #ffffff;
    font-family: "poppins";
    text-transform: uppercase;
    text-shadow: 0 0 3px #d8ff00;
  }
}
@keyframes lineaPulso {
  0% {
    background-size: 0 0;
  }

  50% {
    background-size: 20% 2px;
  }
  100% {
    background-size: 0 0;
  }
}
