.contenedor {
  border: 5px solid #e1bee7;
  background-color: #dd71dd;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 150px 150px 150px;
  grid-auto-rows: 150px;
  height: 600px;
  /*  justify-content: center;
  alinea el contenido al centro horizontalmente
  align-content: center;
  alinea el contenido al centro verticalmetne
  para centrar todo junto usamos:_ */
  place-content: center;
  /* place-content:center alinea tanto horizontal como verticalmente. */
  justify-items: center;
  align-items: center;
}

.contenedor p {
  background-color: rgb(193, 247, 154);
  border: 5px solid #00bcd4;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
}
